<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>LETS</title>
      <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
      }
    </style>
   </head>
   <body>
      <h1>ČLETS</h1>
      <p>Číslo účtu: {{ user.id }}</p>

      {{#if flash}}
        <p><b>{{ flash.message }}</b></p>
      {{/if}}
      <a href="/logout">Odhlásit</a> | <a href="password">Změnit heslo</a>
      <p>
        <b>Zůstatek: {{ user.credit }} kr.</b> |
        <abbr title="maximální velikost příchozí platby, narůstá s možstvím transakcí">Možno přijmout(?)</abbr>: {{ receive_limit }} kr. |
        <abbr title="maximální velikost odchozí platby včetně možné bezůročné půjčky, narůstá s možstvím transakcí">Možno odeslat(?)</abbr>: {{ send_limit }} kr.
      </p>
      <form action="/payment" method="post" accept-charset="utf-8">
        <label for="payee">číslo příjemce</label><br>
        <input type="number" name="payee" id="payee" value="" min="0" required autofocus /><br>
        <label for="amount">částka</label><br>
        <input type="number" name="amount" id="amount" value="" min="10" required /><br>
        <label for="message">zpráva</label><br>
        <input type="text" name="message" id="message" value="" maxlength="140" />
        <p><input type="submit" name="payment" id="payment" value="platba" /></p>
      </form>
      <hr>
      <p><b>Posledních tisíc plateb</b></p>
      <table>
        <tr>
        <th>datum</th>
        <th>plátce</th>
        <th>příjemce</th>
        <th>částka</th>
        <th>zpráva</th>
        </tr>
        {{#each payments}}
        <tr>
        <td>{{created}}</td>
        <td>{{payer}}</td>
        <td>{{payee}}</td>
        <td>{{amount}}</td>
        <td>{{message}}</td>
        </tr>
        {{/each}}
      </table>
   </body>
</html>